/* blogs rendering css */
.main-card {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 25px;
    margin: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 1);
    width: 300px;
    color: rgb(208, 208, 208);
    background-color: rgb(20, 33, 61);
    font-family: Arial;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
/* childs of Bloglist render */
.blog-category{
    display: flex;
    justify-content: center;
}
.blog-title{
    display: flex;
    justify-content: center;
}
.blog-author{
    display: flex;
    justify-content: center;
}
.blog-date{
    display: flex;
    justify-content: center;
}
.blog-content{
    display: flex;
    justify-content: center;
}
.blog-button{
    display: flex;
    justify-content: center;
}


/* blog and image main render style */
/* .image-blog-container{
    display: flex;
    justify-content: space-between ;
}

.image-render{
    margin-right: 70px;
    margin-left: 100px;
    margin-top: 50px ; 
} */


/*handles the xml classes inside this BlogRenderInSingleCard()*/
.blog-single-parent-card{
    display: flex;
    justify-content: center;
    height: 100%;  /*handles the vertical scrolling*/
    overflow-y: auto; /*handles the vertical scrolling*/
}

.blog-parent-card{
    border-radius: 5px;
    padding: 20px;  
}

/* for tablet landscape */
@media (max-width: 1366px) {
    .blog-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}

/* for tablets portrait */
@media (max-width: 1024px) {
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* for phone potrait */
@media (max-width: 600px) {
    .blog-container{
        grid-template-columns: auto;
        margin: auto;
    }
}
