/* blogs rendering css */
.main-card {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    /* margin-left: auto; */
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 1);
    width: 800px;
    color: rgb(208, 208, 208);
    background-color: rgb(20, 33, 61);
    font-family: Arial;
}

/* blog and image main render style */
.image-blog-container{
    display: flex;
    justify-content: space-between ;
}

.image-render{
    margin-right: 70px;
    margin-left: 100px;
    margin-top: 50px ;
    
    
}

/* childs of Bloglist render */
.blog-category{
    display: flex;
    justify-content: center;
}
.blog-title{
    display: flex;
    justify-content: center;
}
.blog-author{
    display: flex;
    justify-content: center;
}
.blog-date{
    display: flex;
    justify-content: center;
}
.blog-content{
    display: flex;
    justify-self: center;
}
.blog-button{
    display: flex;
    justify-content: center;
}

.blog-single-parent-card{
    display: flex;
    justify-content: center;
}
.blog-parent-card{
    border-radius: 5px;
    padding: 20px;
    height: 709px;
    overflow-y: auto;
}






/* {
    id: 1,
    title: "Getting Started with React",
    author: "Jane Doe",
    date: "2024-10-20",
    category: "Development",
    content: "React is a powerful library for building user interfaces. In this blog post, we'll explore the fundamentals of React and how to get started with your first React application. We'll cover components, state management, and basic hooks that every React developer should know."
  } */

